ol{
	list-style-type: none;
	padding: 0;
	margin:0;
  	font-size:18px;
  	height:2em;
  	line-height:2em;
  	text-align:center;
}
ol > li {
	float:left;
  	background-color:#FDD700;
  	width:150px;

}
ol a {
	display:block;
	color:#000;
	text-decoration:none;
	padding:0 5px;
}
ol > li > a:hover {
	color:#09C;
}
ol > li > ul {
	display:none;
  }
  
  ol > li:hover > ul {
	display:block;
  }
ol > li > ul {
	list-style-type:none;
	padding:0;
	margin:0;
  }
  ol > li > ul > li > a {
	border-top:1px solid #FFF;
  }
  
ol > li:hover {
	background-color:#EEE;
}
body {
	background-color: #F7CCAC;
	font-size: 20px;
	color: #3A3845;
	}



a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}



#pojemnik{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}

#logo{
	background-color:#C69B7B;
	text-align:center;
	padding:15px;
}

#Nawigacja{
	float:left;
	width:20%;
	padding:15px;
}

#Kontent{
	float:left;
	width:50%;
	padding:20px;
	text-align:center;
}

#zdjecia{
	float:left;
	width:20%;
	
	text-align:center;
	border: white;
}

#Stopka{
		clear:both;
		background-color:#C69B7B;
		text-align:center;
}
h2{
	text-align:center;
}

#kontentall{
	float:left;
	width:100%;
	padding:20px;
	text-align:center;	
}

.nav{
	float:left; 
	padding: 10px;
	
}